// шрифты:
$font1: 'Helvetica', Arial, sans-serif;
$font-logo: 'Montserrat Alternates';

// цвета:
$mistake: #BC2525;
$black: #000000;

// брейкпоинты:
$l: 1441px;
$xl: 1376px;
$xxl: 1300px;
$lm: 1200px;
$m: 1023px;
$xm: 890px;
$s: 766px;
$xs: 380px;

// размеры контейнеров header:
$container-l: 1340px;
$container-xl: 1300px;
$container-xxl: 1200px;
$container-lm: 1120px;
$container-m: 960px;
$container-xm: 860px;
$container-s: 720px;
$container-xs: 348px;