@import './header.scss';
@import './footer.scss';

* {
    margin: 0 auto;
    box-sizing: border-box;
}

$bg: #ffffff;
$text: #000000;
$accent1: #000000;
$accent2: #a6a6a6b4;
// $accent2: #79e0b3;

.header-block {
    width: auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg;
    color: $text;
    font-family: Helvetica, sans-serif;
    margin-top: 2vh;
}

.filter-type,
.filter-letter {
    display: flex;
    width: 100%;
    padding: 0 8vw;
    margin: 0.5vh auto;
    flex-wrap: wrap;
    font-size: 1.25rem;
    align-items: center;
    text-transform: uppercase;

    @media screen and (max-width: 576px) {
        font-size: 1rem;
    }
}

.filter-letter {
    justify-content: space-between;
    height: 10vh;
    margin: 0.5vh auto;
    color: rgba($text, 0.4);

    @media screen and (max-width: 960px) {
        justify-content: space-evenly;
        height: 15vh;
    }
}

.filter-type {
    justify-content: center;
    height: 5vh;

    @media screen and (max-width: 576px) {
        height: 14vh;
        flex-direction: column;
    }
}

.filter-title,
.letter {
    text-transform: uppercase;
    border-radius: 1.25rem;
    cursor: pointer;
    padding: 0.5vh 2vw;
    margin: 0;

    &:hover {
        background-color: $accent1;
        color: $bg;
    }

    &:focus,
    &:active {
        background-color: $accent2;
    }

    @media screen and (max-width: 576px) {
        padding: 0.5vh 2vw;
    }
}

#anyLetter {
    color: $text;

    &:hover {
        background-color: $accent1;
        color: $bg;
    }
}

.selected {
    border: 1px solid $accent1;
}

.activeLetter {
    color: $text;
}

.message {
    width: 60vw;
    height: 45vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.catalogue {
    margin-top: 2vh;
}

.splide__arrow {
    background: none;

    svg {
        color: $accent1;
        font-size: 1.25rem;
        opacity: 1;
    }
}

.splide__list {
    width: 95vw;

    @media screen and (max-width: 768px) {
        width: 90vw;
    }
}

[role='group'] {
    padding: 0 8vw;
}

.preview {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px solid $accent1;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 500ms ease;

    &:hover {
        border: none;

        .preview-title {
            display: flex;
            height: 100%;
        }
    }
}

.preview-title {
    display: none;
    height: 0%;
    overflow: hidden;
    width: 100%;
    text-transform: uppercase;
    text-wrap: balance;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($accent2, 0.4);
    color: $text;
    font-weight: bold;
    z-index: 1;
    position: absolute;
    transition: height 500ms ease;
}

.preview-img {
    height: 100%;
    object-fit: cover;
    margin: 0;
}
