@import'./vars';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: $font1;
  font-weight: bold;
  font-size: 2vw;
  text-align: center;

  @media(max-width: 1023px) {}

  @media (max-width:766px) {
    font-size: 5vw;
  }

  @media (max-width:380px) {
    font-size: 5vw;
  }
}

#container_ingredients {
  margin: 3vw 3vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3vw;

  @media(max-width: 1023px) {
    column-gap: 2vw;
    row-gap: 2vw;
  }

  @media (max-width:766px) {
    column-gap: 0.5vw;
    row-gap: 5vw;
  }

  @media (max-width:380px) {
    margin: 3vw 3vw;
    justify-content: center;
  }

  .container_item {
    width: 20vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1vw;
    border: 0.1vw solid black;

    @media(max-width: 1023px) {
      width: 20vw;
      height: 19vw;
    }

    @media (max-width:766px) {
      width: 35vw;
      height: 47vw;
      row-gap: 1.5vw;
    }

    @media (max-width:380px) {
      width: 40vw;
      height: 50vw;
      row-gap: 3vw;
    }

    &__image {
      height: 7vw;
      max-width: 8vw;

      @media(max-width: 1023px) {
        height: 8vw;
        max-width: 15vw;
      }

      @media (max-width:766px) {
        height: 23vw;
        max-width: 26vw;
      }

      @media (max-width:380px) {
        height: 23vw;
        max-width: 26vw;
      }
    }

    &__ingredient {
      font-family: $font1;
      font-weight: bold;
      font-size: 1.3vw;
      text-transform: lowercase;

      @media(max-width: 1023px) {
        font-size: 1.8vw;
        text-align: center;
      }

      @media (max-width:766px) {
        font-size: 4vw;
        text-align: center;
      }

      @media (max-width:380px) {
        font-size: 4vw;
        text-align: center;
      }
    }

    &__coctails {
      display: none;
    }

    &__btn {
      background-color: #fff;
      width: 12vw;
      height: 2vw;
      border: 0.1vw solid black;
      cursor: pointer;
      font-family: $font1;
      font-size: 0.1vw;

      @media(max-width: 1023px) {
        width: 12vw;
        height: 3vw;
      }

      @media (max-width:766px) {
        width: 15vw;
        height: 4vw;
      }

      @media (max-width:380px) {
        width: 20vw;
        height: 7vw;
      }
    }

    button:hover {
      background-color: black;
      color: #fff;
      transition: 0.5s;
    }
  }

  span {
    font-family: $font1;
    font-size: 0.7vw;
    font-weight: 700;
    text-transform: uppercase;

    @media(max-width: 1023px) {
      font-size: 1vw;
      text-align: center;
      font-weight: bold;
    }

    @media (max-width:766px) {
      font-size: 1.5vw;
      text-align: center;
    }

    @media (max-width:380px) {
      font-size: 2vw;
    }
  }
}

//-----------modal----------//

.modal {
  //   max-width: 50vw;
  //   border: 3px inset black(17, 16, 16);
  //   display: none;
  //   display: grid;
  //   grid-template-columns: 1fr 3fr;
  //   border: 0.1vw solid black;

  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  &-content {
    background-color: #fefefe;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #3d3d3d;
    float: right;
    font-size: 3vw;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal_item {
    padding: 1vw;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1vw;

    @media(max-width: 1023px) {}

    @media (max-width:766px) {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 3fr;
      row-gap: 3vw;
    }

    @media (max-width:380px) {
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 3fr;
      row-gap: 3vw;
      ;
    }

    &-1 {
      margin: 0 auto;
      width: 13vw;

      @media (max-width:766px) {
        width: 25vw;
      }

      @media (max-width:380px) {
        width: 25vw;
      }

      &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;

        @media(max-width: 1023px) {
          object-fit: contain;
        }
      }
    }

    &-2 {
      column-gap: 5vw;

      &__name {
        font-weight: bold;
        font-size: 1.4vw;
        font-family: $font1;
        column-gap: 2vw;

        @media(max-width: 1023px) {
          font-size: 1.6vw;
        }

        @media (max-width:766px) {
          font-size: 2.5vw;
        }

        @media (max-width:380px) {
          font-size: 2.5vw;
        }
      }

      &__description {
        font-family: $font1;
        padding: 0 0.2vw;
        font-size: 1.1vw;

        @media(max-width: 1023px) {
          font-size: 1.3vw;
        }

        @media (max-width:766px) {
          font-size: 2.1vw;
        }

        @media (max-width:380px) {
          font-size: 2.1vw;
        }
      }

      &__cooking {
        font-family: $font1;
        padding: 0 0.2vw;
        font-size: 1.1vw;

        @media(max-width: 1023px) {
          font-size: 1.3vw;
        }

        @media (max-width:766px) {
          font-size: 2.1vw;
        }

        @media (max-width:380px) {
          font-size: 2.1vw;
        }
      }

      &__id {
        text-align: start;
        font-size: 0.9vw;
      }
    }

    span {
      font-family: $font1;
      font-weight: 550;
      font-size: 1.2vw;

      @media(max-width: 1023px) {
        font-size: 1.4vw;
      }

      @media (max-width:766px) {
        font-size: 2.3vw;
      }

      @media (max-width:380px) {
        font-size: 2.3vw;
      }
    }
  }
}