* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#container {
  margin: 3vw 3vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2vw;

  .container_item {
    max-width: 20vw;
    max-height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vw;

    &__image {
      height: 7vw;
      max-width: 8vw;
    }

    &__ingredient {
      font-weight: bold;
      font-size: 1.7vw;

    }

    &__coctails {
      padding: 0 0.2vw;
      text-align: center;
      max-width: 19vw;
      font-size: 1.2vw;
    }
  }
}

span {
  font-weight: 550;
  font-size: 1.5vw;
}

//-----------adaptive tablet----------//

@media(min-width:767px) and (max-width:1023px) {
  #container {
    column-gap: 2vw;
    row-gap: 2vw;

    .container_item {
      max-width: 25vw;
      max-height: 38vw;

      &__image {
        height: 13vw;
        max-width: 15vw;
      }

      &__ingredient {
        font-size: 3vw;
        text-align: center;
      }

      &__coctails {
        font-size: 2vw;
      }
    }
  }

  span {
    font-size: 2.2vw;
    text-align: center;
  }
}


//-----------adaptive mobile---------//

@media screen and (max-width:766px) {
  #container {
    column-gap: 3vw;
    row-gap: 3vw;

    .container_item {
      max-width: 28vw;
      max-height: 60vw;
      row-gap: 1.5vw;

      &__image {
        height: 23vw;
        max-width: 26vw;
      }


      &__ingredient {
        font-size: 4vw;
        text-align: center;
      }

      &__coctails {
        font-size: 2.7vw;
        max-width: 28vw;
      }
    }
  }

  span {
    font-size: 3vw;
    text-align: center;
  }
}

//-----------modal----------//

#modal {
  max-width: 50vw;
  border: 3px inset purple;
}

.btn {
  padding: 1vw 1vw 0 0;
  display: flex;
  justify-content: end;

  &_close {
    width: 3.3vw;
    font-size: 0.6vw;
  }
}

.modal_item {
  padding-top: 0.5vw;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-bottom: 1px inset purple;

  &-1 {}

  &-2 {}
}

.modal_item-1 {
  display: flex;
  align-items: center;

  &__img {
    height: 7vw;
  }
}

.modal_item-2 {
  &__name {
    font-weight: bold;
    font-size: 1vw;
  }

  &__description {
    padding: 0 0.2vw;
    font-size: 0.9vw;
  }

  &__cooking {
    padding: 0 0.2vw;
    font-size: 0.9vw;
  }

  &__id {
    text-align: start;
    font-size: 0.9vw;
  }
}

span {
  font-weight: 550;
  font-size: 0.9vw;
}