.my-custom-button-class {
    margin-left: 20px;
    padding: 0 20px;
    height: 55px;
    border: 2px solid black;
    background-color: white;
    color: black;
    min-width: 100px;

    &:hover {
        background-color: black;
        color: white !important;
    }
}

.akcent {
    margin-left: 20px;
    padding: 0 20px;
    height: 55px;
    border: 2px solid black;
    background-color: black;
    color: white;
    min-width: 100px;

    &:hover {
        background-color: white;
        color: black;
    }
}

.unline-w {
    text-decoration: none;
    color: black;

    &:hover {
        font-weight: 700;
        color: white;
    }
}

.unline-b {
    text-decoration: none;
    color: white;

    &:hover {
        font-weight: 700;
        color: black;
    }
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
        gap: 30px;
        border-top: 2px solid black;
        padding-top: 40px;

        .button {
            padding: 0 20px;
            height: 55px;
            width: 400px;
            border: 2px solid black;
            background-color: white;
            color: rgb(32, 31, 31);

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}

a {
    font-weight: 700;
}