@import './form-style.scss';
@import './vars';

.content-wrapper {
    max-width: 100vw;
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-text {
    text-align: center;
    @extend %title;
}

.go-back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    max-width: 25rem;
    width: 100%;
    height: 3.125rem;
    background-color: $background-color;
    border: 0.0625rem solid $black;
    color: $black;
    font-family: $font1;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.1rem;
    gap: 0.3125rem;
}

.go-back-btn:hover {
    background-color: $black;
    color: $white;
}

.img-error {
    max-height: 70vh;
    max-width: 37.5rem;
    width: 100%;
}

.img-coctail {
    width: 1.5625rem;
}