@import'./vars';
@import'./style.scss';

#profile-menu {
    display: none;
    position: absolute;
    background: #ffffff;
    border: 1px solid black;
    width: 150px;
    top: 5.56rem;
    right: 20;
    @media (max-width: $xm) {
        top: 3.4rem;
    }
    ul{
        display: flex;
        flex-direction: column;
        padding:0;
        li{
            list-style: none;
            padding-top: 5px;
                padding-bottom: 5px;
                
            a{
                text-decoration: none;
                color: $black; 
                font-size: 1rem;
                
            }
        }
    }
}

#settings-form{
    display: none;}
    
    .settings{
    width: 25rem;
    height: 22rem;
    border: 1px solid black;
    background-color:white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $font1;
    .settings__title{
        font-size: 1.25rem;
        font-weight: 700;
    }
    input{
        padding: 0.625rem;
        width: 22rem;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 0.0625rem solid #000;        
        outline: none;
        text-align: center;
        color: #000;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        @media screen and (max-width: 599px) {
            .form__input {
                max-width: 17.8125rem;
            }
        }
    }    
    .settings__button{
        font-size: 1.125rem;
        font-weight: 300;
        width: 10rem;
        height: 2.3rem;
        background-color: #ffffff;
    }
}

.favourites{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    font-family: $font1;
    p{
        font-size: 1.25rem;
        font-weight: 700;
    }
}

//-- Стили для букв-ссылок --//
// .letterStyle {
//     max-width: 75.5rem;
//     width: 100%;
// padding-top: 20px;
// display: flex;
// justify-content: space-between;
// gap: 1.5rem;
// font-family: $font1;
// font-size: 1.125rem;

// @media (max-width: $xm) {
//     max-width: $container-xm;
//    display: grid;
//    grid-template-columns: repeat(14, 1fr);
//    column-gap: 0.7rem;
// } 
// @media (max-width: $xs) {
//     max-width: $container-xs;
//    display:flex;
//   flex-wrap: wrap;
// } 
// a{
//     text-decoration: none; 
//     color: $black;
// }
// }
// }



