@import'./vars';
@import'./style.scss';


#profile-menu {
    display: none;
    position: absolute;
    background: #ffffff;
    padding: 10px;
    border: 1px solid black;
    ul{
        padding: 0;
    li{
        list-style: none;
        a{
            text-decoration: none;
        color: $black; 
        }
       
    }
}
}
.favourites{
display: flex;
flex-direction: column;
justify-content: center;

.LetterStyle {
    max-width: 75.5rem;
    width: 100%;
padding-top: 20px;
display: flex;
justify-content: space-between;
gap: 1.5rem;
font-family: $font1;
font-size: 1.125rem;

@media (max-width: $xm) {
    max-width: $container-xm;
   display: grid;
   grid-template-columns: repeat(14, 1fr);
   column-gap: 0.7rem;
} 
@media (max-width: $xs) {
    max-width: $container-xs;
   display:flex;
  flex-wrap: wrap;
} 
a{
    text-decoration: none; 
    color: $black;
 
}

}
}
