@import'./vars';

.container {
    width: 95%;

    display       : flex;
    flex-direction: column;
    margin        : 0 auto;

    .container-wrapper {
        width : 77.5rem;
        height: 28.125rem;

        display        : flex;
        margin         : 6.75rem auto;
        justify-content: space-between;
        column-gap     : 5.25rem;

        &__pic {
            width : 43.75rem;
            height: 28.125rem;

            display: flex;

            &-img {
                width: 100%;
            }
        }
    }

    .container-wrapper__recipe {
        width : 28.5rem;
        height: 28.125rem;

        display        : flex;
        flex-direction : column;
        justify-content: space-between;
        padding        : 1rem;

        border: 1px solid $black;

        &-text {
            .text-heading-p {
                margin-bottom: 1.17rem;

                color: $black;

                text-align    : center;
                font-family   : $font1;
                font-size     : 1.25rem;
                font-style    : normal;
                font-weight   : 700;
                line-height   : 1.25rem;
                text-transform: uppercase;
            }

            .text-p {
                margin: 1rem 0;

                color: $black;

                font-family: $font1;
                font-size  : 0.875rem;
                font-style : normal;
                font-weight: 300;
                line-height: 0.875rem;

                list-style-position: inside;

                .text-p-li {
                    padding-left: 0.5rem;
                }
            }

            .text-heading {
                color: $black;

                font-family: $font1;
                font-size  : 0.875rem;
                font-style : normal;
                font-weight: 400;
                line-height: 0.875rem;
            }
        }

        &-favourite {
            display    : flex;
            column-gap : 0.45rem;
            align-items: center;
            margin-left: 0;

            .button {}

            .label {
                color: $black;

                font-family: $font1;
                font-size  : 0.75rem;
                font-style : normal;
                font-weight: 400;
                line-height: 0.75rem;
                /* 100% */
            }
        }
    }
}

@media(min-width:767px) and (max-width:1023px) {}

@media screen and (max-width:766px) {}