.container {
    width: 90%;

    display       : flex;
    flex-direction: column;
    margin        : 0 auto;

    .container-wrapper {
        width : 90%;
        height: 28.125rem;

        display: flex;
        margin : 6.75rem auto;

        &__pic {
            &-img {}
        }

        &__text {
            &-recipe {
                &-heading-h3 {
                    color: aquamarine;
                }

                &-about {}

                &-heading-h2 {}

                &-ingredients {}

                &-heading-h2 {}

                &-text-cook-up {}

            }

            &-favourite {
                &-button {}
            }
        }
    }
}

@media(min-width:767px) and (max-width:1023px) {}

@media screen and (max-width:766px) {}