.container {
    width: 90%;

    display       : flex;
    flex-direction: column;
    margin        : 0 auto;

    .container-wrapper {
        width : 77.5rem;
        height: 28.125rem;

        display        : flex;
        margin         : 6.75rem auto;
        justify-content: space-between;

        &__pic {
            width  : 43.75rem;
            height : 28.125rem;
            display: flex;

            &-img {
                width: 100%;
            }
        }

        &__text {
            width : 28.5rem;
            height: 28.125rem;

            display       : flex;
            flex-direction: column;
            padding       : 1rem;

            border: 1px solid #000;

            &-recipe {
                width         : 26.25rem;
                height        : 23.125rem;
                display       : flex;
                flex-direction: column;

                &-heading-h3 {
                    margin: 0 auto 1.19rem auto;

                    color: #000;

                    text-align    : center;
                    font-family   : Helvetica;
                    font-size     : 1.25rem;
                    font-style    : normal;
                    font-weight   : 700;
                    line-height   : 1.25rem;
                    /* 100% */
                    text-transform: uppercase;
                }

                &-cooking {
                    display       : flex;
                    flex-direction: column;
                    margin-top    : 2.3rem;


                    &-about {
                        color: #000;

                        font-family: Helvetica;
                        font-size  : 0.875rem;
                        font-style : normal;
                        font-weight: 300;
                        line-height: 0.875rem;
                    }

                    &-heading-p {
                        color: #000;

                        font-family: Helvetica;
                        font-size  : 0.875rem;
                        font-style : normal;
                        font-weight: 400;
                        line-height: 0.875rem;
                    }

                    &-ingredients {
                        color      : #000;
                        font-family: Helvetica;
                        font-size  : 0.875rem;
                        font-style : normal;
                        font-weight: 300;
                        line-height: 0.875rem;
                    }

                    &-heading-p {
                        color: #000;

                        font-family: Helvetica;
                        font-size  : 0.875rem;
                        font-style : normal;
                        font-weight: 400;
                        line-height: 0.875rem;
                    }

                    &-text-cook-up {
                        color      : #000;
                        font-family: Helvetica;
                        font-size  : 0.875rem;
                        font-style : normal;
                        font-weight: 300;
                        line-height: 0.875rem;
                    }

                }
            }

            &-favourite {
                width : 15rem;
                height: 1.0625rem;

                display        : flex;
                justify-content: space-between;
                align-self     : flex-start;

                img {
                    width : 1rem;
                    height: 0.9375rem;
                }

                &-button {
                    border          : none;
                    background-color: transparent;

                    color: #000;

                    font-family: Helvetica;
                    font-size  : 0.75rem;
                    font-style : normal;
                    font-weight: 400;
                    line-height: 0.75rem;
                    /* 100% */
                }
            }
        }
    }
}

@media(min-width:767px) and (max-width:1023px) {}

@media screen and (max-width:766px) {}